
<div class="well" ng-controller="ProjectsCtrlr" ng-init="load()">
  <ol class="breadcrumb">
    <li>
      <a href="#/">
        Início</a></li>
    <li>
      Projetos</li>
  </ol>
  <form ng-submit="">
    <div class="input-group input-group-sm">
      <a class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </a>
      <input class="form-control search search-user" type="search" placeholder="Buscar por Nome" ng-model="search.term">
      <div class="input-group-btn">
        <a class="btn btn-primary" href="#{{url}}/new">
          <span class="glyphicon glyphicon-plus"></span> Novo
        </a>
        <a data-target="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a class="" href="javascript:void(0);">
              <span class="glyphicon glyphicon-remove"></span> Deletar
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="" href="javascript:void(0);">
              Selecionar</a></li>
        </ul>
      </div>
    </div>
  </form>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          Projeto
        </th>
        <th style="width: 20rem;">
          Ações
        </th>
      </tr>
    </thead>

    <tfoot>
    </tfoot>
    
    <tbody>
      <tr ng-repeat="project in projects">
        <td>
          <a href="{{project.html_url}}" target="_blank">
            <h4>
              <em>{{project.name}}</em>
            </h4>
            <br>
            <small>{{project.description}}</small>
            <!--<br>
            <small><span class="glyphicon glyphicon-warning-sign" ng-class="{'text-danger' : project.open_issues_count > 0 }"></span> {{proj.open_issues_count}}</small>-->
          </a>
        </td>
        <td>
          <div class="btn-group pull-right">
            <a class="btn btn-sm btn-primary" title="Ver Detalhes">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a class="btn btn-sm btn-primary" href="{{project.html_url}}" target="_blank" title="Ver no Github">
              <span class="fa fa-github fa-lg"></span>
            </a>
            <a class="btn btn-sm btn-primary" href="#/milestones/{{project.name}}" title="Ver Milestones">
              <span class="glyphicon glyphicon-calendar"></span>
            </a>
            <a class="btn btn-sm btn-primary" href="#/tasks/{{project.name}}" title="Ver Tarefas">
              <span class="glyphicon glyphicon-saved"></span>
            </a>
            <a data-target="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
              <li>
                <a class="" href="#/projects/{{project.name}}">
                  <span class="glyphicon glyphicon-eye-open"></span> Ver Detalhes
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{project.html_url}}" target="_blank">
                  <span class="fa fa-github fa-lg"></span>
                  Ver no Github</a>
              </li>
              <li>
                <a class="" href="#/milestones/{{project.name}}">
                  <span class="glyphicon glyphicon-calendar"></span>
                  Ver Milestones</a>
              </li>
              <li>
                <a class="" href="#/tasks/{{project.name}}">
                  <span class="glyphicon glyphicon-saved"></span>
                  Ver Tarefas</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

