<!DOCTYPE html>
<html ng-app="time-tracking">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="author" content="José Nascimento &lt;joseaugustodearaujonascimento@gmail.com&gt;">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>:: Sistema de Controle de Tempo - Time Tracking ::</title>

  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!--<link href="assets/bootswatch/darkly/bootstrap.min.css" rel="stylesheet" type="text/css" ng-if="settings.theme.dark">-->
  <link href="assets/bootswatch/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link href="styles/main.css" rel="stylesheet" type="text/css">

</head>
<body ng-controller="MainCtrlr" ng-init="registerRoutes()">

  <div class="container">

    <div ng-include="'views/menu/'" ng-if="loggedIn()">
    </div>

    <div ng-view>
    </div>

  </div>

  <script src="assets/jquery/dist/jquery.min.js" type="text/javascript"></script>

  <script src="assets/angular/angular.min.js" type="text/javascript"></script>
  <script src="assets/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

  <script src="assets/angular-route/angular-route.min.js" type="text/javascript"></script>
  <script src="assets/angular-resource/angular-resource.min.js" type="text/javascript"></script>
  <script src="assets/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
  <script src="assets/angular-animate/angular-animate.min.js" type="text/javascript"></script>

  <script src="scripts/timeTracking.module.js" type="text/javascript"></script>

  <script src="scripts/mainCtrlr.controller.js" type="text/javascript"></script>

  <script src="scripts/userCtrlr.controller.js" type="text/javascript"></script>
  <script src="scripts/tasksCtrlr.controller.js" type="text/javascript"></script>
  <script src="scripts/milestonesCtrlr.controller.js" type="text/javascript"></script>
  <script src="scripts/projectsCtrlr.controller.js" type="text/javascript"></script>
</body>
</html>

