
<div class="well" ng-controller="UserCtrlr" ng-init="settings.accessToken ? load() : void(0)">

  <h4>Timeline</h4>

  <div ng-if="settings.accessToken == null">
    <em>Nenhum Token de Acesso configurado, vá em <a href="#/settings">Configurações</a> e defina um Token</em>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="notification in timeline">
      <span class="fa fa-bug fa-lg fa-fw text-danger" ng-if="notification.subject.type == 'Issue'"></span>
      <span class="fa fa-code-fork fa-lg fa-fw text-info" ng-if="notification.subject.type == 'PullRequest'"></span>
      <span class="fa fa-file-code-o fa-lg fa-fw" ng-if="notification.subject.type == 'Commit'"></span>

      <a href="#" class="text-primary">
        {{notification.subject.title}}
      </a>

      <a class="pull-right text-primary" href="{{notification.latest_comment_url}}" title="Marcar como lida">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </li>
  </ul>

</div>

